<header class="bg-dark text-white">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg">
            <div class="col-md-3 d-flex align-items-center">
                <img src="assets/logo.jpeg" alt="School Logo" class="logo mr-2">
                <span class="m-2">Bacancy School</span>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <!-- Common links for all roles -->
                    <li class="nav-item">
                        <a href="#" class="text-white mr-3">Home</a>
                    </li>
                    <!-- Admin specific links -->
                    <ng-container *ngIf="userRole === adminRole">
                        <li class="nav-item">
                            <a href="#" class="text-white mr-3">Admin Dashboard</a>
                        </li>
                    </ng-container>
                    <!-- Teacher specific links -->
                    <ng-container *ngIf="userRole === teacherRole">
                        <li class="nav-item">
                            <a href="#" class="text-white mr-3">Teacher Dashboard</a>
                        </li>
                    </ng-container>
                    <!-- Student specific links -->
                    <ng-container *ngIf="userRole === studentRole">
                        <li class="nav-item">
                            <a href="#" class="text-white mr-3">Student Dashboard</a>
                        </li>
                    </ng-container>

                    <ng-container *ngIf="isLoggedIn; else loginLink">
                        <button (click)="logout()" class="btn btn-light">Logout</button>
                    </ng-container>
                    <ng-template #loginLink>
                        <button class="btn btn-light">Login</button>
                    </ng-template>
                </ul>
            </div>
        </nav>
    </div>
</header>