<header class="bg-dark text-white py-3">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6 d-flex align-items-center">
                <!-- here i need to add logo and name of school -->
            </div>
            <div class="col-md-1 text-right">
                <a href="#" class="text-white mr-3">Home</a>
                <a href="#" class="btn btn-light">Login</a>
            </div>
        </div>
    </div>
</header>