.card {
    border-radius: 15px;

    .img-fluid {
        height: 450px;
        object-fit: cover;
        width: 450px;
    }

    .card-body {
        .card-title {
            color: #007bff;
            font-weight: bold;
        }
        .card-text {
            margin-bottom: 0.5rem;
        }
    }
}
