<div class="container mt-4">
    <h2>Grade Details</h2>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Class</th>
                <th scope="col">Date</th>
                <th scope="col">Subject Name</th>
                <th scope="col">Marks</th>
                <th scope="col">Total Marks</th>
                <th scope="col">Percentage</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let grade of gradebooks | sortDate:'date':'desc'">
                <td>{{ grade.name }}</td>
                <td>{{ grade.classId }}</td>
                <td>{{ grade.date | date }}</td>
                <td>{{ grade.subjectName }}</td>
                <td>{{ grade.marks }}</td>
                <td>{{ grade.totalMarks }}</td>
                <td>{{ calculatePercentage(grade.marks, grade.totalMarks) | number:'1.2-2' }}%</td>
                <td>
                    <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#updateMarksModal"
                        (click)="editGrade(grade)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="updateMarksModal" tabindex="-1" aria-labelledby="updateMarksModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateMarksModalLabel">Update Marks</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModal></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="marksForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="studentName" class="form-label">Student Name:</label>
                        <input id="studentName" formControlName="studentName" class="form-control">
                        <div *ngIf="marksForm.get('studentName')?.errors?.['required'] && (marksForm.get('name')?.touched || marksForm.get('name')?.dirty)"
                            class="text-danger">
                            Student name is required.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="subjectName" class="form-label">Subject Name:</label>
                        <input id="subjectName" formControlName="subjectName" class="form-control">
                        <div *ngIf="marksForm.get('subjectName')?.errors?.['required'] && (marksForm.get('subjectName')?.touched || marksForm.get('subjectName')?.dirty)"
                            class="text-danger">
                            Subject name is required.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="marks" class="form-label">Marks Obtained:</label>
                        <input id="marks" type="number" formControlName="marks" class="form-control">
                        <div *ngIf="marksForm.get('marks')?.errors?.['required'] && (marksForm.get('marks')?.dirty || marksForm.get('marks')?.touched)"
                            class="text-danger">
                            Marks is required.
                        </div>
                        <div *ngIf="marksForm.get('marks')?.errors?.['min'] && (marksForm.get('marks')?.dirty || marksForm.get('marks')?.touched)"
                            class="text-danger">
                            Marks is must positive number.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="totalMarks" class="form-label">Total Marks:</label>
                        <input id="totalMarks" type="number" formControlName="totalMarks" class="form-control">
                        <div *ngIf="marksForm.get('totalMarks')?.errors?.['required'] && (marksForm.get('marks')?.dirty || marksForm.get('totalMarks')?.touched)"
                            class="text-danger">
                            Total marks is required
                        </div>
                        <div *ngIf="marksForm.get('totalMarks')?.errors?.['min'] && (marksForm.get('marks')?.dirty || marksForm.get('totalMarks')?.touched)"
                            class="text-danger">
                            Total marks must be a positive number.
                        </div>
                    </div>
                    <div *ngIf="marksForm.errors?.['invalidMarks']" class="alert alert-danger">
                        Marks cannot be greater than Total Marks.
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="marksForm.invalid">Update
                        Marks</button>
                </form>
            </div>
        </div>
    </div>
</div>