<div class="container mt-3 overflow-auto">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['subject',3]" routerLinkActive="active">English</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['subject',1]" routerLinkActive="active">Maths</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['subject',2]" routerLinkActive="active">Science</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['subject',4]" routerLinkActive="active">Social-Studies</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>