<div class="container">
    <div class="card shadow-lg">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <img src="registration_image.jpg" alt="Registration Image" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <h2 class="text-center">Register Teacher</h2>
                    <form [formGroup]="teacherRegisterForm" (ngSubmit)="onSubmit()">
                        <div class="form-group row m-2">
                            <label for="name" class="col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" id="name" formControlName="name" class="form-control"
                                    placeholder="Enter name here"
                                    [ngClass]="validationClass(teacherRegisterForm.get('name'))">
                                <span *ngIf="isFieldInvalid(teacherRegisterForm.get('name'))" class="text-danger">
                                    First name is required.
                                </span>
                            </div>
                        </div>
                        <div class="form-group row m-2">
                            <label for="email" class="col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" id="email" formControlName="email" class="form-control"
                                    placeholder="Enter email here"
                                    [ngClass]="validationClass(teacherRegisterForm.get('email'))">
                                <span *ngIf="isFieldInvalid(teacherRegisterForm.get('email'))" class="text-danger">
                                    Email is
                                    required.</span>
                                <span *ngIf="emailPattern(teacherRegisterForm.get('email'))" class="text-danger">
                                    Please Enter valid email.
                                </span>
                            </div>
                        </div>
                        <div class="form-group row m-2">
                            <div class="col-sm-6">
                                <label for="class">Class</label>
                                <select id="class" formControlName="class" class="form-control"
                                    [ngClass]="validationClass(teacherRegisterForm.get('class'))">
                                    <option value="" selected>Select Class</option>
                                    <option *ngFor="let i of classes" [value]="i">{{ i }}</option>
                                </select>
                                <span *ngIf="isFieldInvalid(teacherRegisterForm.get('class'))" class="text-danger">
                                    Class is
                                    required.</span>
                            </div>
                            <div class="col-sm-6">
                                <label for="subject" class="col-form-label">Subject</label>
                                <div class="col-sm-10">
                                    <select id="subject" formControlName="subject" class="form-control"
                                        [ngClass]="validationClass(teacherRegisterForm.get('subject'))">
                                        <option value="" selected>Select Subject</option>
                                        <option *ngFor="let subject of subjects" [value]="subject">{{ subject }}
                                        </option>
                                    </select>
                                    <span *ngIf="isFieldInvalid(teacherRegisterForm.get('subject'))"
                                        class="text-danger">
                                        Subject is required.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-2">
                            <div class="col-sm-6">
                                <label for="qualification" class="col-form-label">Qualification</label>
                                <div class="col-sm-10">
                                    <select id="qualification" formControlName="qualification" class="form-control"
                                        [ngClass]="validationClass(teacherRegisterForm.get('qualification'))">
                                        <option value="" selected>Select Qualification</option>
                                        <option *ngFor="let qualification of qualifications" [value]="qualification">{{
                                            qualification }}</option>
                                    </select>
                                    <span *ngIf="isFieldInvalid(teacherRegisterForm.get('qualification'))"
                                        class="text-danger">
                                        Qualification is required.
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="salary" class="col-form-label">Salary</label>
                                <div class="col-sm-10">
                                    <input type="number" id="salary" formControlName="salary" class="form-control"
                                        placeholder="Enter salary"
                                        [ngClass]="validationClass(teacherRegisterForm.get('salary'))">
                                    <span *ngIf="isFieldInvalid(teacherRegisterForm.get('salary'))" class="text-danger">
                                        Salary is required.
                                    </span>
                                    <span *ngIf="teacherRegisterForm.get('salary')?.hasError('negativeNumber')"
                                        class="text-danger">
                                        Salary must be positive
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-2">
                            <div class="col-sm-6">
                                <label for="dateOfBirth">Date of Birth</label>
                                <input id="dateOfBirth" formControlName="dateOfBirth" type="date" class="form-control"
                                    [ngClass]="validationClass(teacherRegisterForm.get('dateOfBirth'))">
                                <span *ngIf="isFieldInvalid(teacherRegisterForm.get('dateOfBirth'))"
                                    class="text-danger"> Date
                                    of birth is
                                    required</span>
                                <span *ngIf="teacherRegisterForm.get('dateOfBirth')?.hasError('futureDate')"
                                    class="text-danger">
                                    Date of birth cannot be in the future.
                                </span>
                            </div>
                            <div class="col-sm-6">
                                <label for="dateOfEnrollment">Date of Enrollment</label>
                                <input id="dateOfEnrollment" formControlName="dateOfEnrollment" type="date"
                                    class="form-control"
                                    [ngClass]="validationClass(teacherRegisterForm.get('dateOfEnrollment'))">
                                <span *ngIf="isFieldInvalid(teacherRegisterForm.get('dateOfEnrollment'))"
                                    class="text-danger"> Date of
                                    enrollment is
                                    required</span>
                                <span *ngIf="teacherRegisterForm.get('dateOfEnrollment')?.hasError('futureDate')"
                                    class="text-danger">
                                    Date of Enrollment cannot be in the future.
                                </span>
                                <span
                                    *ngIf="teacherRegisterForm.get('dateOfEnrollment')?.hasError('dateOfBirthAfterEnrollment')"
                                    class="text-danger">
                                    Date of birth cannot be after date of enrollment.
                                </span>
                            </div>
                        </div>
                        <div class="form-group row m-2">
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary w-75"
                                    [disabled]="teacherRegisterForm.invalid">Register</button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-secondary w-75"
                                    (click)="resetForm()">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>