<div class="container mt-4">
    <h2 class="text-center mb-5">Attendance History</h2>
    <div *ngIf="attendanceList && attendanceList.length > 0; else noDataTemplate">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Subject Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Present</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let attendance of attendanceList | sortDate:'date':'desc'">
                    <td>{{ attendance.subjectName}}</td>
                    <td>{{ attendance.date | date}}</td>
                    <td>{{ attendance.isPresent ? 'Present' : 'Absent' }} </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #noDataTemplate>
        <div class="alert alert-warning mt-3 text-center" role="alert">
            No attendance data available.
        </div>
    </ng-template>
</div>