<div class="container mt-4">
    <h2>Grade Details</h2>
    <table class="table table-striped table-bordered" *ngIf="gradebooks && gradebooks.length > 0; else noDataTemplate">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Marks</th>
                <th scope="col">Total Marks</th>
                <th scope="col">Percentage</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let grade of gradebooks | sortDate:'date':'desc'">
                <td>{{ grade.date | date }}</td>
                <td>{{ grade.marks }}</td>
                <td>{{ grade.totalMarks }}</td>
                <td>{{ calculatePercentage(grade.marks, grade.totalMarks) | number:'1.2-2' }}%</td>
            </tr>
        </tbody>
    </table>
    <ng-template #noDataTemplate>
        <div class="alert alert-warning mt-3" role="alert">
            No Grade Data found for this subject.
        </div>
    </ng-template>
</div>