<ng-container *ngIf="student;else noData">
    <app-student-profile [student]="student"></app-student-profile>
</ng-container>

<ng-template #noData>
    <div class="alert alert-info" role="alert">
        No student data found.
    </div>
</ng-template>

<ng-container *ngIf="student">
    <h2>Grade Details</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Marks</th>
                <th>Total Marks</th>
                <th>Percentage</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let grade of studentGrades" routerLinkActive="active">
                <td>{{ grade.date | date }}</td>
                <td>{{ grade.marks }}</td>
                <td>{{ grade.totalMarks }}</td>
                <td>{{ calculatePercentage(grade.marks,grade.totalMarks)}}%</td>
            </tr>
        </tbody>
    </table>
</ng-container>