<div class="container overflow-auto">
    <h2>Grade List</h2>
    <div *ngIf="gradesList.length > 0; else noData">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Date</th>
                    <th>Marks</th>
                    <th>Total Marks</th>
                    <th>Percentage</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let grade of gradesList | sortDate:'date':'desc'" routerLinkActive="active">
                    <td>{{ grade.email }}</td>
                    <td>{{ grade.date | date }}</td>
                    <td>{{ grade.marks }}</td>
                    <td>{{ grade.totalMarks }}</td>
                    <td>{{ calculatePercentage(grade.marks,grade.totalMarks)}}%</td>
                    <td>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateMarksModal"
                            (click)="editGrade(grade)">Edit</button>
                        <button class="btn btn-info" [routerLink]="['../student-detail',grade.userId]">View
                            Details</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #noData>
        <div class="alert alert-info" role="alert">
            No grade records available.
        </div>
    </ng-template>
</div>

<!-- Modal -->
<div class="modal fade" id="updateMarksModal" tabindex="-1" aria-labelledby="updateMarksModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateMarksModalLabel">Update Marks</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModal></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="marksForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="email" class="form-label">Student Name:</label>
                        <input id="email" formControlName="email" class="form-control">
                        <div *ngIf="marksForm.get('email')?.errors?.['required'] && (marksForm.get('email')?.touched || marksForm.get('email')?.dirty)"
                            class="text-danger">
                            Student Email is required.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="marks" class="form-label">Marks Obtained:</label>
                        <input id="marks" type="number" formControlName="marks" class="form-control">
                        <div *ngIf="marksForm.get('marks')?.errors?.['required'] && (marksForm.get('marks')?.dirty || marksForm.get('marks')?.touched)"
                            class="text-danger">
                            Marks is required.
                        </div>
                        <div *ngIf="marksForm.get('marks')?.errors?.['min'] && (marksForm.get('marks')?.dirty || marksForm.get('marks')?.touched)"
                            class="text-danger">
                            Marks is must positive number.
                        </div>
                        <div *ngIf="marksForm.get('marks')?.errors?.['pattern'] && (marksForm.get('marks')?.dirty || marksForm.get('marks')?.touched)"
                            class="text-danger">
                            Marks must be an integer.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="totalMarks" class="form-label">Total Marks:</label>
                        <input id="totalMarks" type="number" formControlName="totalMarks" class="form-control">
                        <div *ngIf="marksForm.get('totalMarks')?.errors?.['required'] && (marksForm.get('totalMarks')?.dirty || marksForm.get('totalMarks')?.touched)"
                            class="text-danger">
                            Total marks is required
                        </div>
                        <div *ngIf="marksForm.get('totalMarks')?.errors?.['min'] && (marksForm.get('totalMarks')?.dirty || marksForm.get('totalMarks')?.touched)"
                            class="text-danger">
                            Total marks must be a positive number.
                        </div>
                        <div *ngIf="marksForm.get('totalMarks')?.errors?.['pattern'] && (marksForm.get('totalMarks')?.dirty || marksForm.get('totalMarks')?.touched)"
                            class="text-danger">
                            Total marks must be an integer.
                        </div>
                    </div>
                    <div *ngIf="marksForm.errors?.['invalidMarks']" class="alert alert-danger">
                        Marks cannot be greater than Total Marks.
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="marksForm.invalid">Update
                        Marks</button>
                </form>
            </div>
        </div>
    </div>
</div>